.badge-outer {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 100px;
    transition: background-color 0.5s ease;
}

.badge-outer:hover {
    background-color: rgba(255, 165, 0, 0.3);
    animation: 2s fade-in;
}

img {
    width: inherit;
    height: inherit;
    border-radius: 3px;
}