.fadea-in {
  opacity: 0;
  animation: fade-in .5s ease-out forwards;
}

@keyframes fadea-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}