@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

.marquee-container {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      background: none;
      color: #e7771b;
      font-family: Doto;
      font-weight: bolder;
      font-size: 3em;
      position: relative;
      height: 2em;
      background-color: black;
    }

    .marquee-text {
      display: inline-block;
      padding-left: 100%;
      animation: scroll-left 4s steps(80) forwards;
    }

    @keyframes scroll-left {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-50%);
      }
    }